<a href="https://colab.research.google.com/github/iamssg05/Learn_pyspark/blob/master/Pyspark_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=5edd913d2611b562f029b834005e2b01d9bb8892a5cdb50cc30d27f09922f2cc
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.option('header','True').csv('/content/IPLPlayerAuctionData.csv')

In [ ]:
df_pyspark.show()

+-------------------+-----------+--------+--------------------+----+-------------+
|             Player|       Role|  Amount|                Team|Year|Player Origin|
+-------------------+-----------+--------+--------------------+----+-------------+
|        Aaron Finch|    Batsman|40000000| Sunrisers Hyderabad|2014|     Overseas|
|        Aaron Finch|    Batsman|32000000|      Mumbai Indians|2015|     Overseas|
|        Aaron Finch|    Batsman|10000000|       Gujarat Lions|2016|     Overseas|
|        Aaron Finch|    Batsman|62000000|     Kings XI Punjab|2018|     Overseas|
|        Aaron Finch|    Batsman|44000000|Royal Challengers...|2020|     Overseas|
|        Abdul Samad|All-Rounder| 2000000| Sunrisers Hyderabad|2020|       Indian|
|     Abhijeet Tomar|    Batsman| 4000000|Kolkata Knight Ri...|2022|       Indian|
|   Abhimanyu Mithun|     Bowler| 3000000|      Mumbai Indians|2015|       Indian|
|   Abhimanyu Mithun|     Bowler| 3000000| Sunrisers Hyderabad|2016|       Indian|
|Abhinav Sadarangani|    Batsman|26000000|      Gujarat Titans|2022|       Indian|
|     Abhishek Nayar|All-Rounder|50625000| Pune Warriors India|2013|       Indian|
|     Abhishek Nayar|All-Rounder|10000000|    Rajasthan Royals|2014|       Indian|
|    Abhishek Sharma|All-Rounder| 5500000|    Delhi Daredevils|2018|       Indian|
|    Abhishek Sharma|All-Rounder|65000000| Sunrisers Hyderabad|2022|       Indian|
|   Abu Nechim Ahmed|     Bowler| 3000000|Royal Challengers...|2014|       Indian|
|         Adam Milne|     Bowler| 7000000|Royal Challengers...|2015|     Overseas|
|         Adam Milne|     Bowler|32000000|      Mumbai Indians|2021|     Overseas|
|         Adam Milne|     Bowler|19000000| Chennai Super Kings|2022|     Overseas|
|         Adam Zampa|     Bowler| 3000000|Rising Pune Super...|2016|     Overseas|
|     Aditya Garhwal|All-Rounder| 2500000|Kolkata Knight Ri...|2015|       Indian|
+-------------------+-----------+--------+--------------------+----+-------------+
only showing top 20 rows

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.printSchema()    
#similar to df.info() in pandas

root
 |-- Player: string (nullable = true)
 |-- Role: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Player Origin: string (nullable = true)

In [ ]:
### READ csv
df1 = spark.read.option('header','true').csv('/content/IPLPlayerAuctionData.csv')

In [ ]:
##  Checking the Schema
# dont keep .show() in the dataframe variable else it will throw error like 
"""
  ---------------------------------------------------------------------------
  AttributeError                            Traceback (most recent call last)
  <ipython-input-18-0396c7b83648> in <module>()
        1 ##  Checking the Schema
  ----> 2 df1.printSchema()

  AttributeError: 'NoneType' object has no attribute 'printSchema'
"""

df1.printSchema()

root
 |-- Player: string (nullable = true)
 |-- Role: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Player Origin: string (nullable = true)

In [ ]:
# if we dont want every object to be a string we can use inferSchema option while reading the csv

df2 = spark.read.option('header','true').csv('/content/IPLPlayerAuctionData.csv', inferSchema=True)
df2.printSchema()

root
 |-- Player: string (nullable = true)
 |-- Role: string (nullable = true)
 |-- Amount: integer (nullable = true)
 |-- Team: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Player Origin: string (nullable = true)

In [ ]:
# other way to read the same thing 
df3 = spark.read.csv('/content/IPLPlayerAuctionData.csv', header=True, inferSchema=True)
df3.show()
df3.printSchema()

+-------------------+-----------+--------+--------------------+----+-------------+
|             Player|       Role|  Amount|                Team|Year|Player Origin|
+-------------------+-----------+--------+--------------------+----+-------------+
|        Aaron Finch|    Batsman|40000000| Sunrisers Hyderabad|2014|     Overseas|
|        Aaron Finch|    Batsman|32000000|      Mumbai Indians|2015|     Overseas|
|        Aaron Finch|    Batsman|10000000|       Gujarat Lions|2016|     Overseas|
|        Aaron Finch|    Batsman|62000000|     Kings XI Punjab|2018|     Overseas|
|        Aaron Finch|    Batsman|44000000|Royal Challengers...|2020|     Overseas|
|        Abdul Samad|All-Rounder| 2000000| Sunrisers Hyderabad|2020|       Indian|
|     Abhijeet Tomar|    Batsman| 4000000|Kolkata Knight Ri...|2022|       Indian|
|   Abhimanyu Mithun|     Bowler| 3000000|      Mumbai Indians|2015|       Indian|
|   Abhimanyu Mithun|     Bowler| 3000000| Sunrisers Hyderabad|2016|       Indian|
|Abhinav Sadarangani|    Batsman|26000000|      Gujarat Titans|2022|       Indian|
|     Abhishek Nayar|All-Rounder|50625000| Pune Warriors India|2013|       Indian|
|     Abhishek Nayar|All-Rounder|10000000|    Rajasthan Royals|2014|       Indian|
|    Abhishek Sharma|All-Rounder| 5500000|    Delhi Daredevils|2018|       Indian|
|    Abhishek Sharma|All-Rounder|65000000| Sunrisers Hyderabad|2022|       Indian|
|   Abu Nechim Ahmed|     Bowler| 3000000|Royal Challengers...|2014|       Indian|
|         Adam Milne|     Bowler| 7000000|Royal Challengers...|2015|     Overseas|
|         Adam Milne|     Bowler|32000000|      Mumbai Indians|2021|     Overseas|
|         Adam Milne|     Bowler|19000000| Chennai Super Kings|2022|     Overseas|
|         Adam Zampa|     Bowler| 3000000|Rising Pune Super...|2016|     Overseas|
|     Aditya Garhwal|All-Rounder| 2500000|Kolkata Knight Ri...|2015|       Indian|
+-------------------+-----------+--------+--------------------+----+-------------+
only showing top 20 rows

root
 |-- Player: string (nullable = true)
 |-- Role: string (nullable = true)
 |-- Amount: integer (nullable = true)
 |-- Team: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Player Origin: string (nullable = true)

In [ ]:
# get column names

df3.columns

['Player', 'Role', 'Amount', 'Team', 'Year', 'Player Origin']

In [ ]:
#head will give result in list format
df3.head(5)

[Row(Player='Aaron Finch', Role='Batsman', Amount=40000000, Team='Sunrisers Hyderabad', Year=2014, Player Origin='Overseas'),
 Row(Player='Aaron Finch', Role='Batsman', Amount=32000000, Team='Mumbai Indians', Year=2015, Player Origin='Overseas'),
 Row(Player='Aaron Finch', Role='Batsman', Amount=10000000, Team='Gujarat Lions', Year=2016, Player Origin='Overseas'),
 Row(Player='Aaron Finch', Role='Batsman', Amount=62000000, Team='Kings XI Punjab', Year=2018, Player Origin='Overseas'),
 Row(Player='Aaron Finch', Role='Batsman', Amount=44000000, Team='Royal Challengers Bangalore', Year=2020, Player Origin='Overseas')]

In [ ]:
# selecting specific columns
# select with return Dataframe
df3.select('Player','Role','Team').show()

#slicing doesn't work with pyspark Dataframe
# we cant do df3['Player','Role']

+-------------------+-----------+--------------------+
|             Player|       Role|                Team|
+-------------------+-----------+--------------------+
|        Aaron Finch|    Batsman| Sunrisers Hyderabad|
|        Aaron Finch|    Batsman|      Mumbai Indians|
|        Aaron Finch|    Batsman|       Gujarat Lions|
|        Aaron Finch|    Batsman|     Kings XI Punjab|
|        Aaron Finch|    Batsman|Royal Challengers...|
|        Abdul Samad|All-Rounder| Sunrisers Hyderabad|
|     Abhijeet Tomar|    Batsman|Kolkata Knight Ri...|
|   Abhimanyu Mithun|     Bowler|      Mumbai Indians|
|   Abhimanyu Mithun|     Bowler| Sunrisers Hyderabad|
|Abhinav Sadarangani|    Batsman|      Gujarat Titans|
|     Abhishek Nayar|All-Rounder| Pune Warriors India|
|     Abhishek Nayar|All-Rounder|    Rajasthan Royals|
|    Abhishek Sharma|All-Rounder|    Delhi Daredevils|
|    Abhishek Sharma|All-Rounder| Sunrisers Hyderabad|
|   Abu Nechim Ahmed|     Bowler|Royal Challengers...|
|         Adam Milne|     Bowler|Royal Challengers...|
|         Adam Milne|     Bowler|      Mumbai Indians|
|         Adam Milne|     Bowler| Chennai Super Kings|
|         Adam Zampa|     Bowler|Rising Pune Super...|
|     Aditya Garhwal|All-Rounder|Kolkata Knight Ri...|
+-------------------+-----------+--------------------+
only showing top 20 rows

In [ ]:
# checking datatypes
df3.dtypes

[('Player', 'string'),
 ('Role', 'string'),
 ('Amount', 'int'),
 ('Team', 'string'),
 ('Year', 'int'),
 ('Player Origin', 'string')]

In [ ]:
# describe option works similar to Pandas
# df3.describe()
df3.describe().show()

+-------+------------------+-------------+--------------------+-------------------+------------------+-------------+
|summary|            Player|         Role|              Amount|               Team|              Year|Player Origin|
+-------+------------------+-------------+--------------------+-------------------+------------------+-------------+
|  count|               970|          970|                 970|                970|               969|          970|
|   mean|              null|         null| 2.105451030927835E7|               null|2017.9102167182662|         null|
| stddev|              null|         null|2.8000908315696165E7|               null| 2.964526646550613|         null|
|    min|       Aaron Finch|  All-Rounder|             1000000|Chennai Super Kings|              2013|       Indian|
|    max|Zahir Khan Pakteen|Wicket Keeper|           162500000|Sunrisers Hyderabad|              2022|     Overseas|
+-------+------------------+-------------+--------------------+-------------------+------------------+-------------+

In [ ]:
# adding columns in Pyspark Dataframe
"""
  (colName: str, col: Column) -> DataFrame
  Returns a new DataFrame by adding a column or replacing the
  existing column that has the same name.

  The column expression must be an expression over this DataFrame; attempting to add
  a column from some other DataFrame will raise an error.
"""
df4 = df3.withColumn('Addding Random Column at end (year+2)',df3['year']+2)
df4.show()

+-------------------+-----------+--------+--------------------+----+-------------+-------------------------------------+
|             Player|       Role|  Amount|                Team|Year|Player Origin|Addding Random Column at end (year+2)|
+-------------------+-----------+--------+--------------------+----+-------------+-------------------------------------+
|        Aaron Finch|    Batsman|40000000| Sunrisers Hyderabad|2014|     Overseas|                                 2016|
|        Aaron Finch|    Batsman|32000000|      Mumbai Indians|2015|     Overseas|                                 2017|
|        Aaron Finch|    Batsman|10000000|       Gujarat Lions|2016|     Overseas|                                 2018|
|        Aaron Finch|    Batsman|62000000|     Kings XI Punjab|2018|     Overseas|                                 2020|
|        Aaron Finch|    Batsman|44000000|Royal Challengers...|2020|     Overseas|                                 2022|
|        Abdul Samad|All-Rounder| 2000000| Sunrisers Hyderabad|2020|       Indian|                                 2022|
|     Abhijeet Tomar|    Batsman| 4000000|Kolkata Knight Ri...|2022|       Indian|                                 2024|
|   Abhimanyu Mithun|     Bowler| 3000000|      Mumbai Indians|2015|       Indian|                                 2017|
|   Abhimanyu Mithun|     Bowler| 3000000| Sunrisers Hyderabad|2016|       Indian|                                 2018|
|Abhinav Sadarangani|    Batsman|26000000|      Gujarat Titans|2022|       Indian|                                 2024|
|     Abhishek Nayar|All-Rounder|50625000| Pune Warriors India|2013|       Indian|                                 2015|
|     Abhishek Nayar|All-Rounder|10000000|    Rajasthan Royals|2014|       Indian|                                 2016|
|    Abhishek Sharma|All-Rounder| 5500000|    Delhi Daredevils|2018|       Indian|                                 2020|
|    Abhishek Sharma|All-Rounder|65000000| Sunrisers Hyderabad|2022|       Indian|                                 2024|
|   Abu Nechim Ahmed|     Bowler| 3000000|Royal Challengers...|2014|       Indian|                                 2016|
|         Adam Milne|     Bowler| 7000000|Royal Challengers...|2015|     Overseas|                                 2017|
|         Adam Milne|     Bowler|32000000|      Mumbai Indians|2021|     Overseas|                                 2023|
|         Adam Milne|     Bowler|19000000| Chennai Super Kings|2022|     Overseas|                                 2024|
|         Adam Zampa|     Bowler| 3000000|Rising Pune Super...|2016|     Overseas|                                 2018|
|     Aditya Garhwal|All-Rounder| 2500000|Kolkata Knight Ri...|2015|       Indian|                                 2017|
+-------------------+-----------+--------+--------------------+----+-------------+-------------------------------------+
only showing top 20 rows

In [ ]:
# dropping Columns 
'''
  (cols: ColumnOrName) -> DataFrame
  cols: str or :class:`Column`

  Returns a new DataFrame that drops the specified column.
  This is a no-op if schema doesn't contain the given column name(s).

  Parameters
'''
df5 = df4.drop('Addding Random Column at end (year+2)')
df5.show()

+-------------------+-----------+--------+--------------------+----+-------------+
|             Player|       Role|  Amount|                Team|Year|Player Origin|
+-------------------+-----------+--------+--------------------+----+-------------+
|        Aaron Finch|    Batsman|40000000| Sunrisers Hyderabad|2014|     Overseas|
|        Aaron Finch|    Batsman|32000000|      Mumbai Indians|2015|     Overseas|
|        Aaron Finch|    Batsman|10000000|       Gujarat Lions|2016|     Overseas|
|        Aaron Finch|    Batsman|62000000|     Kings XI Punjab|2018|     Overseas|
|        Aaron Finch|    Batsman|44000000|Royal Challengers...|2020|     Overseas|
|        Abdul Samad|All-Rounder| 2000000| Sunrisers Hyderabad|2020|       Indian|
|     Abhijeet Tomar|    Batsman| 4000000|Kolkata Knight Ri...|2022|       Indian|
|   Abhimanyu Mithun|     Bowler| 3000000|      Mumbai Indians|2015|       Indian|
|   Abhimanyu Mithun|     Bowler| 3000000| Sunrisers Hyderabad|2016|       Indian|
|Abhinav Sadarangani|    Batsman|26000000|      Gujarat Titans|2022|       Indian|
|     Abhishek Nayar|All-Rounder|50625000| Pune Warriors India|2013|       Indian|
|     Abhishek Nayar|All-Rounder|10000000|    Rajasthan Royals|2014|       Indian|
|    Abhishek Sharma|All-Rounder| 5500000|    Delhi Daredevils|2018|       Indian|
|    Abhishek Sharma|All-Rounder|65000000| Sunrisers Hyderabad|2022|       Indian|
|   Abu Nechim Ahmed|     Bowler| 3000000|Royal Challengers...|2014|       Indian|
|         Adam Milne|     Bowler| 7000000|Royal Challengers...|2015|     Overseas|
|         Adam Milne|     Bowler|32000000|      Mumbai Indians|2021|     Overseas|
|         Adam Milne|     Bowler|19000000| Chennai Super Kings|2022|     Overseas|
|         Adam Zampa|     Bowler| 3000000|Rising Pune Super...|2016|     Overseas|
|     Aditya Garhwal|All-Rounder| 2500000|Kolkata Knight Ri...|2015|       Indian|
+-------------------+-----------+--------+--------------------+----+-------------+
only showing top 20 rows

In [ ]:
## Renaming column name
df5= df5.withColumnRenamed('Player Origin','Indian/Overseas')
df5=df5.withColumnRenamed('Team', 'Franchise')
df5.show()

+-------------------+-----------+--------+--------------------+----+---------------+
|             Player|       Role|  Amount|           Franchise|Year|Indian/Overseas|
+-------------------+-----------+--------+--------------------+----+---------------+
|        Aaron Finch|    Batsman|40000000| Sunrisers Hyderabad|2014|       Overseas|
|        Aaron Finch|    Batsman|32000000|      Mumbai Indians|2015|       Overseas|
|        Aaron Finch|    Batsman|10000000|       Gujarat Lions|2016|       Overseas|
|        Aaron Finch|    Batsman|62000000|     Kings XI Punjab|2018|       Overseas|
|        Aaron Finch|    Batsman|44000000|Royal Challengers...|2020|       Overseas|
|        Abdul Samad|All-Rounder| 2000000| Sunrisers Hyderabad|2020|         Indian|
|     Abhijeet Tomar|    Batsman| 4000000|Kolkata Knight Ri...|2022|         Indian|
|   Abhimanyu Mithun|     Bowler| 3000000|      Mumbai Indians|2015|         Indian|
|   Abhimanyu Mithun|     Bowler| 3000000| Sunrisers Hyderabad|2016|         Indian|
|Abhinav Sadarangani|    Batsman|26000000|      Gujarat Titans|2022|         Indian|
|     Abhishek Nayar|All-Rounder|50625000| Pune Warriors India|2013|         Indian|
|     Abhishek Nayar|All-Rounder|10000000|    Rajasthan Royals|2014|         Indian|
|    Abhishek Sharma|All-Rounder| 5500000|    Delhi Daredevils|2018|         Indian|
|    Abhishek Sharma|All-Rounder|65000000| Sunrisers Hyderabad|2022|         Indian|
|   Abu Nechim Ahmed|     Bowler| 3000000|Royal Challengers...|2014|         Indian|
|         Adam Milne|     Bowler| 7000000|Royal Challengers...|2015|       Overseas|
|         Adam Milne|     Bowler|32000000|      Mumbai Indians|2021|       Overseas|
|         Adam Milne|     Bowler|19000000| Chennai Super Kings|2022|       Overseas|
|         Adam Zampa|     Bowler| 3000000|Rising Pune Super...|2016|       Overseas|
|     Aditya Garhwal|All-Rounder| 2500000|Kolkata Knight Ri...|2015|         Indian|
+-------------------+-----------+--------+--------------------+----+---------------+
only showing top 20 rows